version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/docker/nginx/conf.d:/etc/nginx/conf.d:ro,z
      - /var/lib/docker/nginx/certs:/etc/nginx/certs:ro,z
    depends_on:
      - curdo
      - pgadmin
    networks:
      - curdo_net
      - dns_net

  curdo:
    build:
      context: ../backend
    container_name: curdo
    environment:
      DATABASE_URL: postgresql://curdo:curdo@postgres:5432/curdo
      CLIENT_URL: https://curdo.xyz
    depends_on:
      - postgres
    networks:
      - curdo_net

  frontend:
    build:
      context: ../frontend
    container_name: frontend
    networks:
      - curdo_net

  postgres:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_DB: curdo
      POSTGRES_USER: curdo
      POSTGRES_PASSWORD: curdo
    volumes:
      - postgres_data:/var/lib/postgresql/18/main
    networks:
      - curdo_net
    
  
  pihole:
    container_name: pihole
    image: pihole/pihole
    networks:
      - dns_net
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    restart: unless-stopped
    environment:
      # Set the appropriate timezone for your location from
      # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones, e.g:
      TZ: 'America/BuenosAires'
      # Set a password to access the web interface. Not setting one will result in a random password being assigned
      FTLCONF_webserver_api_password: 'sdundv2009'
      FTLCONF_dns_listeningMode: "all"
    volumes:
      - /etc/docker/pihole:/etc/pihole,z
      - /etc/docker/dnsmasq.d:/etc/dnsmasq.d,z
    dns:
      - 8.8.8.8


  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@curdo.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - postgres
    networks:
      - curdo_net

volumes:
  postgres_data:

networks:
  curdo_net:
    driver: bridge
  dns_net:
    driver: bridge