version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro,z
      - ./nginx/certs:/etc/nginx/certs:ro,z
    depends_on:
      - curdo
      - pgadmin
    networks:
      - curdo_net

  curdo:
    build:
      context: ../backend
    container_name: curdo
    environment:
      DATABASE_URL: postgresql://curdo:curdo@postgres:5432/curdo
      CLIENT_URL: https://curdo.local
    depends_on:
      - postgres
    networks:
      - curdo_net

  frontend:
    build:
      context: ../frontend
    container_name: frontend
    networks:
      - curdo_net

  postgres:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_DB: curdo
      POSTGRES_USER: curdo
      POSTGRES_PASSWORD: curdo
    volumes:
      - postgres_data:/var/lib/postgresql/18/main
    networks:
      - curdo_net

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@curdo.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - postgres
    networks:
      - curdo_net

volumes:
  postgres_data:

networks:
  curdo_net:
    driver: bridge
