<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>
    <h1>CURD</h1>
    <table id="tabla-principal">
        <td>-</td>
        <td><input id="nombre-input" type="text"></td>
        <td>-</td>
        <td><button onclick="agregar()">BotonAgregar</button></td>
    </table>
</body>
<script src="/static/scripts/eliminar.js"></script>
<script src="/static/scripts/obtener.js"></script>
<script src="/static/scripts/actualizar.js"></script>
<script src="/static/scripts/crear.js"></script>
</html>